@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: white;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, serif;
}
.header{
    display: flex;
    flex-direction: row;
    gap: 30px;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.15);*/
    padding: 10px 0 10px 70px;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}
.sushkof{

}
.header a{
    height: 35px;
}
.header__address{
    font-size: 15px;
    font-weight: 450;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
    color: #ec6338;
    fill: #ec6338;
}
.header__address:hover{
    color: #fc9c4b;
    fill: #fc9c4b;
    cursor: pointer;
}
.main{
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    position: absolute;
}
.main__image{
    width: 100%;
    min-height: 725px;
    max-height: 725px;
    background-image: url("https://img.eda1.ru/im/storage/6238d642af2a4_q95.jpg");
    background-position: center;
    background-size: cover;
}
.svg_sushkof{
    width: 100px;
    height: 35px;
}
.svg_address{
    width: 15px;
    height: 17px;
}
.svg_cart{
    height: 18px;
    width: 15px;
}
.recommendations{
    height: 240px;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}
.recommendation{
    flex: 1 1 auto;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.recommendation__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 1;
}
.recommendation__title{
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    position: absolute;
    z-index: 2;
    top: 0;
    transition: opacity .2s ease;
    background: linear-gradient(0deg, rgba(0,0,0,0) 60%, rgba(255,255,255,0.75) 100%);
}
.recommendation__inner{
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    transition: opacity .2s ease;
    display: flex;
    flex-direction: column;
}
.recommendation__inner .button{
    align-self: end;
    margin: auto 20px 10px auto;
    flex: 0 0 48px;
}
.recommendation__content{
    margin: 10px 20px 13px 10px;
    flex: 1 1 auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.button{
    background-color: #ec6338;
    width: 174px;
    height: 48px;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 6px;
    transition: background-color .3s ease;
}
.button:hover{
    background-color: #cf291b;
}
.button__svg{
    width: 27px;
    height: 27px;
}
.recommendation:hover .recommendation__inner{
    opacity: 1;
}
.recommendation:hover .recommendation__title{
    opacity: 0;
}
.catalog{
    color: #434343;
}
.categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    font-weight: 450;
    margin-top: 2px;
    position: sticky;
    background: white;
    top: 55px;
    z-index: 5;
}
.categories .categories__item{
    padding: 0 10px;
    height: 46px;
    display: flex;
    align-items: center;
    transition: background-color .2s ease, color .2s ease;
    white-space: nowrap;
}
.categories .categories__item:hover{
    background-color: #f4f4f4;
    color: #ec6338;
    cursor: pointer;
}
.categories .categories__item:active{
    color: #ec6338;
    border-bottom: 2px solid #ec6338;
}
.search__icon{
    padding: 14px 12px 16px 15px;
    fill: #434343;
    width: 19px;
    height: 19px;
}
.search__icon:hover{
    fill: #ec6338;
    cursor: pointer;
}
.category{

}
.category__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.category__title{
    font-size: 45px;
    font-weight: 500;
    padding-left: 16px;
}
.category__options{
    font-size: 15px;
    font-weight: 450;
    display: flex;
    height: 54px;
    align-items: end;
    margin-right: 15px;
    gap: 20px;
    padding-bottom: 10px;
}
.category__filter{
    display: flex;
    min-width: 127px;
}
.category__filter:hover{
    color: #ec6338;
    fill: #ec6338;
    cursor: pointer;
}
.category__sort{
    display: flex;
    min-width: 127px;
}
.category__sort:hover{
    color: #ec6338;
    fill: #ec6338;
    cursor: pointer;
}
.category svg{
    width: 22px;
    margin-right: 20px;
}
.category__tags{
    display: flex;
    flex-direction: row;
    margin: 18px 0 10px 0;
    padding-left: 16px;
    gap: 8px;
}
.tag{
    padding: 10px 13px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}
.category__products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4px;
}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 80px auto;
    grid-template-areas:
        "image image"
        "name name"
        "price button";
    padding: 0 18px 32px;
    align-items: center;
}
.product__image{
    height: 100%;
    width: calc(100% + 36px);
    grid-area: image;
    margin: 0 -18px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #cf291b;
}
.product__image img{
    transition: all .5s ease;
    width: 100%;
    position: absolute;
}
.product:hover .product__image img{
    width: 110%;
}
.product__rating{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    justify-self: end;
    align-self: start;
    margin: 8px -10px 0 0;
    height: 37px;
    width: 37px;
    background-color: #7db522;
    border-radius: 1000px;
    color: white;
    font-weight: 450;
    cursor: pointer;
    user-select: none;
}
.product__name{
    font-size: 18px;
    grid-area: name;
    margin: 18px 0 0;
    align-self: stretch;
    padding-bottom: 18px;
}
.product__price{
    font-size: 22px;
    font-weight: bold;
    grid-area: price;
    white-space: nowrap;
}
.product__button{
    grid-area: button;
    justify-self: end;
}
.button{
    width: 174px;
    height: 48px;
    cursor: pointer;
}
